.blogbox_inactive {
	
}

.blogbox {
	padding: 10px;
	border: 1px solid #DEDEDE;
	margin-bottom: 5px;
}

.blogbox_title {
	font-size: 1.1em;
	padding-bottom: 5px;	
}

.blogbox_byline {
	font-style: italic;
	font-size: 0.9em;
	color: #999999;
	padding-bottom: 5px;	
}

.blogbox_thumbnail {
	float: left;
	margin: 5px;	
	border: 1px solid #DEDEDE;
}

.blogbox_footer {
	height: 1px;
	line-height: 1px;
	clear: left;	
}

.blogbox_content {
	
}

/* holder divs */
.blogbox_postboxes {
	margin-left: 50px;
}