body
{
  font-family: arial,helvetica,sans-serif;
  color: #336699;
  background: #ddddff;
  width: 800px;
  margin: auto;
  padding: 0px; /* Fix Opera bug */
}

h2
{
  font-size: 16px;
  margin: 2px;
  border-bottom: 1px solid black;
}

h3
{
  font-size: 14px;
  margin: 2px;
  border-bottom: 1px solid black;
}

ul#directory_list
{
  list-style: none;
}

ul#directory_list li
{
  padding: 5px;
  margin: 2px;
  background: #ddddff;
  border: 1px dashed black;
}

div#header
{
  height: 96px;
  margin: 4px 0px 0px 0px;
  width: auto;
  border: 1px solid black;
  background-image: url("../images/header_bg.png");
}

div#menu
{
  color: #ffffff;
  background: #336699;
  margin-top: 4px;
  border: 1px solid black;
  height: 1.2em;
  padding: 2px;
}

div#main
{
  background: #ffffff;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 4px;
  border: 1px solid black;
}

tr
{
  width: 100px;
  vertical-align: top;
}

div.path
{
  float: left;
}

div.index
{
  float: right;
}

table.data
{
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.data th
{
  border: 1px solid black;
  background: #ddddff;
}

.data td
{
  padding: 4px;
}

div#molecule div
{
  border: 1px dashed black;
  margin: 5px;
  padding: 5px;
}

div#structure
{
  width: 300px;
}

#menu a
{
  color: #ffffff;
}

div#footer
{

}

img
{
  margin-left: 0px;
  margin-right: 0px;
  width: auto;
  border: 0px;
  vertical-align: text-bottom;
}
div#structure
{
}

div#download
{
}

div#inchi
{
  clear: both;
}

span.inchi
{
  font-family: courier, fixed, monospace;
}

span.smiles
{
  font-family: courier, fixed, monospace;
}
