body
{
  font-family: arial,helvetica,sans-serif;
  color: #336699;
  background: #ddddff;
  width: 800px;
  margin: auto;
  padding: 0px; /* Fix Opera bug */
}

div.header
{
  height: 96px;
  margin: 4px 0px 0px 0px;
  width: auto;
  border: 1px solid black;
  background-image: url("../images/header_bg.png");
}

div.navigation
{
  color: #ffffff;
  background: #336699;
  margin-top: 4px;
  border: 1px solid black;
  height: 1.2em;
  padding: 2px;
}

div.main
{
  background: #ffffff;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 4px;
  border: 1px solid black;
}

table.mainLayout
{
  margin-top: 4px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

tr
{
  width: 100px;
  vertical-align: top;
}

div.left
{
  float: left;
}

div.right
{
  float: right;
}

table.data
{
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.data th
{
  border: 1px solid black;
  padding: 0.3em;
  background: #ddddff;
}

.data td
{
  border: 1px solid black;
  padding: 4px;
}

td#structure
{
  width: 300px;
}

.navigation a
{
  color: #ffffff;
}

div.footer
{

}

img
{
  margin-left: 0px;
  margin-right: 0px;
  width: auto;
  border: 0px;
  vertical-align: text-bottom;
}
